.packets_container {
    margin: 0 4rem;
}

.Packets {
    display: flex;
    flex-direction: row;
    gap: 2rem;

    /* justify-content: space-evenly;
    align-items: center; */
}

.Packets .packet {
    border: 1px solid rgb(143, 143, 143);
    padding: 1rem 4rem;
    border-radius: 2px;
}